
        body {
            margin: 0px;
            height: 100%;
            perspective: 1000px;
        }
        
        section {
            width: 500px;
            height: 500px;
            position: absolute;
            top: calc(50% - 250px);
            left: calc(50% - 250px);
            /*border: 1px solid black;*/
            perspective-origin: 50% 50%;
            transform-style: preserve-3d;
            animation: rotate 25s infinite linear;
        }
        
        section div {
            width: 500px;
            height: 500px;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        
        section div:nth-child(1) {
            background-image: url(../images/2.jpg);
            transform: rotateY(0deg) translateZ(500px);
        }
        
        section div:nth-child(2) {
            background-image: url(../images/3.jpg);
            transform: rotateY(60deg) translateZ(500px);
        }
        
        section div:nth-child(3) {
            background-image: url(../images/4.jpg);
            transform: rotateY(120deg) translateZ(500px);
        }
        
        section div:nth-child(4) {
            background-image: url(../images/5.jpg);
            transform: rotateY(180deg) translateZ(500px);
        }
        
        section div:nth-child(5) {
            background-image: url(../images/6.jpg);
            transform: rotateY(240deg) translateZ(500px);
        }
        
        section div:nth-child(6) {
            background-image: url(../images/7.png);
            transform: rotateY(300deg) translateZ(500px);
        }
        
        @keyframes rotate {
            from {
                transform: rotateY(0deg);
            }
            to {
                transform: rotateY(360deg);
            }
        }