.container{
    width: 180px;
    height: 180px;
    margin: 10px;
    display: inline-block;
}
.first{
    background-color: #f00;
}
.second{
    background-color: #0f0;
}
.third{
    background-color: #00f;
}

.forth{
    background-color: #000;
}
.fifth{
    background-color: #999;
}