div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;   
}
.ball-left{
    background-color: red;
    clip:rect(0px,100px,100px,0px);
}
.ball-right{
    background-color: orange;
    clip:rect(0px,200px,100px,100px); 
}
.ball_left{
    background-color: green;
    clip:rect(100px,100px,200px,0px);
}
.ball_right{
    background-color: hotpink;
    clip:rect(100px,200px,200px,100px);
}
main{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
}
main:hover{
    animation: rotate 1s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}